{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block crumbs %}
    <li class="breadcrumb-item"><a href="{{ path('landing_page') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Mirroirs</li>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Liste des mirroirs controlé par {{ app.user.firstName }}:</h1>
            {% for mirror in app.user.mirrors %}
                {% if mirror.nickname is defined and mirror.nickname is not null %}
                    <p><a href="{{ path('mirror_controls', {'mirror_id': mirror.id}) }}">{{ mirror.nickname }}</a></p>
                {% else %}
                    <p><a href="{{ path('mirror_controls', {'mirror_id': mirror.id}) }}">{{ mirror.address }}</a></p>
                {% endif %}
            {% endfor %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addMirrorModal">
                Associer un Mirroir
            </button>

            <!-- Modal -->
            <div class="modal fade" id="addMirrorModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Associer un mirroir a {{ app.user.firstName }}</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ form_start(addMirrorForm, {'attr': {'class': 'addMirrorForm', 'id': 'addMirrorForm'}}) }}
                            {{ form_row(addMirrorForm.address, {'label': 'Addresse', 'attr': {'class': 'form-control mb-2', 'placeholder': 'Addresse IP de votre Mirroir'}}) }}
                            {{ form_row(addMirrorForm.nickname, {'label': 'Nom rappel', 'attr': {'class': 'form-control', 'placeholder': 'Facultatif'}}) }}
                            {{ form_end(addMirrorForm) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="submit" form="addMirrorForm" class="btn btn-primary addMirrorSubmit">
                                Sauvegarder
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}